.gallery {
    width: 100%;
    height: 175vh;
    display: flex;
    overflow: hidden;
    background: #2d2d2d;
}

.galleryWrapper {
    position: relative;
    top: -12.5vh;
    height: 200vh;
    display: flex;
    gap: 2vw;
    width: 100%;
    box-sizing: border-box;
    padding: 2vw;
}

.column {
    position: relative;
    height: 100%;
    width: 25%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    white-space: nowrap;
}

.imageContainer {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
}

.img {
    object-fit: cover;
}

.spacer {
    height: 100vh;
}